/* Font-face for custom font */
@font-face {
    font-family: 'AppleSDGothicNeoB';
    src: url('../fonts/AppleSDGothicNeoB.woff') format('woff');
}

/* General styles */
body {
    font-family: 'AppleSDGothicNeoB', sans-serif;
    margin: 0;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    color: #333;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1px 10px 1px 0px;
    background-color: white;
    position: fixed;
    top: 0;
    width: 100%;
    box-sizing: border-box;
}

.header a {
    color: black;
    text-decoration: none;
    margin-left: 1rem;
    padding: 1px 3px;
    font-size: 20px;
}

.header img {
    height: 80px;
}

.nav {
    margin-right: 1px;
    display: flex;
    align-items: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    flex-direction: row; /* Align form and panel side by side */
}

.name-panel {
    margin:20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.name-panel form {
    display: flex;
    flex-direction:row;
    align-items: center;
    gap: 10px;
}

.name-panel label {
    font-size: 20px;
}

.next-btn {
    align-items: center;
    background-color: #ddd;
    color: #333;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    cursor: pointer;

}

.content-panel {
    margin:20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.right-panel .card {
    width: 200px;
    height: 300px;
    background-color: #fff;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.profile-image {
    width: 80%;
    height: auto;
    border-radius: 10px;
}

.username {
    position: absolute;
    bottom: 10px;
    font-size: 20px;
}

/* Slider Styles */
.slider-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

#prev, #next {
    background-color: #f0f0f0;
    color: #fff;
    border: none;
    margin: 10px 100px;
    padding: 10px 20px;
    cursor: pointer;
}

#prev img, #next img {
    max-width: 40px;
    max-height: 40px;
}

.slider-container {
    padding-top: 100px;
    width: 800px;
    height: 600px;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide {
    min-width: 485px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rectangle {
    width: 400px;
    height: 500px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.rectangle-image {
    width: 80%;
    height: auto;
}

.content {
    text-align: center;
    color: #000;
}

.text {
    font-size: 24px;
    margin: center;
}

.action-btn {
    margin-bottom: 50px;
    padding: 10px 10px;
    background-color: #000;
    color: #fff;
    border: none;
    cursor: pointer;
}

.action-link {
    color: #fff;
    text-decoration: none;
}

.action-link:hover {
    color: #FFD700;
}

.dots {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.dot {
    height: 15px;
    width: 15px;
    margin: 10px 5px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.dot.active {
    background-color: #717171;
}

.active .rectangle {
    width: 500px;
    height: 600px;
}

@media (max-width: 1020px) {
    .slider-container {
        width: 100%;
    }
    .slide {
        min-width: calc(100vw - 200px);
    }
    .rectangle {
        width: calc(100vw - 20px);
        height: 40px;
    }
}
